@import url('https://fonts.cdnfonts.com/css/southpole-explorer');

@font-face {
    font-family: 'fontBold';
    src: url('/src/assets/fonts/BeaufortforLOL-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'fontHeavy';
    src: url('/src/assets/fonts/BeaufortforLOL-Heavy.otf') format('truetype');
}

@font-face {
    font-family: 'fontItalic';
    src: url('/src/assets/fonts/BeaufortforLOL-Italic.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1E282D;
    
}

body {
    background-image: url("~@/assets/e79e1514-0326-4629-9ea9-961423cbe403.jpg");
    background-repeat: no-repeat;
}

* {
    color: white;
}

.fontItalic {
    font-family: 'fontItalic', sans-serif;
}
.fontHeavy {
    font-family: 'fontHeavy', sans-serif;
}
.fontBold {
    font-family: 'fontBold', sans-serif;
}